body {
  font-family: 'Coming Soon', cursive;
  font-size: 16px;
  font-weight: bold;
}

.panel {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.panel-heading {
  border-radius: 15px;
}

.ui-accordion-header {
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
}

.ui-state-default.ui-accordion-header {
  background: #f8f5f0;
}
.ui-state-default.ui-accordion-header:hover {
  background: #e8decd;
}
.panel .panel-title {
  font-family: 'Coming Soon', cursive;
  font-size: 16px;
  font-weight: bold;
}

.ui-accordion .ui-accordion-content {
  font-family: 'Coming Soon', cursive;
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #00B7FF;
}

