extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-warning
          .panel-heading
            h3.panel-title.text-center Tasks
          .panel-body
            #accordion
              h3 Health
              div
                p This is the first sentence.
              h3 Wealth
              div
                p This is the second sentence.
              h3 Soul
              div
                p This is the third sentence.
            
